[Desktop Entry]
Type=Application
Name=VCAP CTN Boot
Exec=bash -c 'sleep 10 && bash /home/kmw/vcap/vcap_boot.sh >> /tmp/vcap_boot.log 2>&1'
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Comment=CTN VCAP Stack Auto-Boot
